header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #ccc;

  > div.postApp {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    user-select: none;
    cursor: pointer;
  }

  > a.bars {
    user-select: none;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  a.bars {
    display: none;
  }
}
