div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
a.post {
  background-color: #ccc;
  text-decoration: none;
  padding: 8px;
  color: black;
}

a.post:hover {
  background-color: #929191;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
}
