div.post{
    display: flex;
    background-color: #ccc;
    margin: 8px;
   
    >p{
    justify-content: space-between;
    text-decoration: none;

}
}
div.post:hover{
    background-color: #929191;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
}
